footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        text-transform: uppercase;
        text-transform: none;
        font-family: $font_1, $font_2, $font_3;
        line-height: 40px;
        font-size: 12px;
    }
    ul.quicklinks {
        margin-bottom: 0;
        text-transform: uppercase;
        text-transform: none;
        font-family: $font_4, $font_1, $font_2, $font_3;
        line-height: 40px;
    }
}

// Social Buttons currently only on index
// currently only in the footer
ul.social-buttons {
    margin-bottom: 0;
    li a {
        display: block;
        width: 40px;
        height: 40px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: $white;
        background-color: $color_log_cabin_approx;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: background-color .3s;
        &:hover {
            background-color: $color_madison_approx;
        }
        &:focus {
            background-color: $color_madison_approx;
        }
        &:active {
            background-color: $color_madison_approx;
        }
    }
}