header {
    text-align: left;
    color: $white;
    background-attachment: scroll;
    background-image: $url_0;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-heading {
            margin-bottom: 25px;
            margin-left: 25px;
            margin-top: -150px;
            text-transform: uppercase;
            font-family: $font_1, $font_1, $font_2, $font_3;
            font-size: 40px;
            line-height: 50px;
            text-shadow: -2px -2px 0 $color_madison_approx, 2px -2px 0 $black, -2px 2px 0 $black, 2px 2px 0 $black;
        }
    }
    .intro-lead-in {
        margin-bottom: 25px;
        font-family: $font_0, $font_1, $font_2, $font_3;
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
    }
}