@media(min-width:768px) {
    .navbar-default {
        &.navbar-shrink {
            padding: 10px 0;
            background-color: $color_madison_approx;
            .navbar-brand {
                font-size: 1.5em;
            }
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
    .navbar-brand {
        max-width: 60px;
        height: auto;
        margin-top: 0;
    }
    section {
        padding: 100px 0;
    }
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
        .intro-lead-in {
            margin-bottom: 25px;
            font-family: $font_0, $font_1, $font_1, $font_2, $font_3;
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
        }
        .intro-heading {
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: $font_1, $font_1, $font_2, $font_3;
            font-size: 50px;
            font-weight: 0;
            letter-spacing: 5px;
            line-height: 50px;
        }
    }
}