section#about
    .container
        .row
          h1.section-heading.text-center(style='letter-spacing: 3px') About Us                 
          p.col-md-12.about-text(style='text-indent: 50px;')
            | At YUDI, we want to give everybody the opportunity to learn about finance and investing. Through consistent group meetings, a guest lecture series, and a sponsored stock game competition, we invite the Yale Undergraduate student body to join our journey in learning the essentials of investment analysis. We aim for our members to take away what they&rsquo;ve learned from the meetings and guest lectures and to further apply that knowledge to their own portfolio. We feel that application is the key to success. We look forward to working with you to make finance and investment education accessible and fun on Yale&rsquo;s campus. Welcome to YUDI!
        |         
        hr
        |         
        .col-md-4.col-sm-6
          .text-center
            div
              span.fa-stack.fa-4x
                i.fa.fa-square.fa-stack-2x.goodred
                i.fa.fa-book.fa-stack-1x.fa-inverse
            div
              h4 Learn
              p.text-left Through lectures, guest speakers and a comprehensive curriculum, our resources will help you understand the world of investing.
        |         
        .col-md-4.col-sm-6
          .text-center
            div
              span.fa-stack.fa-4x
                i.fa.fa-square.fa-stack-2x.text-primary
                |  
                i.fa.fa-pencil.fa-stack-1x.fa-inverse
            |                 
            div
              h4.black-text Apply
              |                     
              p.black-text.text-left
                | Put your investing knowledge to the test with virtual currency, competing for prizes against other YUDI groups in an online stock simulator.
        |         
        .col-md-4.col-sm-6
          .text-center
            div
              span.fa-stack.fa-4x
                i.fa.fa-square.fa-stack-2x.goodgreen
                |  
                i.fa.fa-line-chart.fa-stack-1x.fa-inverse
            |                 
            div
              h4.black-text Invest
              |                     
              p.black-text.text-left
                | Do what you want with your skills, and use your earnings and education to invest in the real world. We&apos;ll point you in the right direction to get started.
