
<div id="member01" tabindex="-1" class="portfolio-modal modal fade">
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Steven Goulas</h1>
          <h4 class="text-muted">Founder &amp; President</h4>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-4">
          <div class="modal-body"><img alt="Steven Goulas" src="assets/img/team/steve.jpg" class="img-thumbnail photoframe"/></div>
        </div>
        <div class="col-lg-8">
          <div class="modal-body text-left">
            <p> From a young age, my interest in finance stemmed from many afternoons at my grandfather's small coin store. In high school, I interned at a mortgage banking firm and learned about credit and money transactions. While at Yale, I have explored different opportunities to extend my knowledge of finance and investing. I am a member of the Yale Student Investment Group on campus and have analyzed companies and produced pitch ideas for both the Industrial and Technology, Media, and Tele-communication industry groups. I am excited to work together with the rest of the board in making investment education fun and accessible at Yale.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <button data-dismiss="modal" type="button" class="btn btn-primary btn-lg">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>