aside#calendar.bg-light-gray
    .container.text-center
        .row
          iframe.promoVideo( src='https://www.youtube.com/embed/I8QgYv7_lbQ' )     
        .row
          .col-lg-12
            h1.section-heading.calendar__head Congratulations!            
          .col-lg-12
            p
              b The Winners of the YUDI Stock Investing Competition for Spring 2015 are:
              br
              | 1st Place - Edward She and Sean Gao
              br
              |2nd Place - Shuncong Gu and Thomas Forster
              br
              |3rd Place - Vincent Huang       
        .row
          .col-lg-12
            h1.section-heading.calendar__header Upcoming Events:          
          .col-lg-12.calendar__row
            p
              b Bulldog Days Extracurricular Bazaar:
              br
              |  Sunday, September 6, 2015, 12-3 pm
