
<aside id="calendar" class="bg-light-gray">
  <div class="container text-center">
    <div class="row">
      <iframe src="https://www.youtube.com/embed/I8QgYv7_lbQ" class="promoVideo">    </iframe>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading calendar__head">Congratulations!            </h1>
      </div>
      <div class="col-lg-12">
        <p><b>The Winners of the YUDI Stock Investing Competition for Spring 2015 are:</b><br/>1st Place - Edward She and Sean Gao<br/>2nd Place - Shuncong Gu and Thomas Forster<br/>3rd Place - Vincent Huang       </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading calendar__header">Upcoming Events:          </h1>
      </div>
      <div class="col-lg-12 calendar__row">
        <p><b>Bulldog Days Extracurricular Bazaar Sunday, September 6, 12-3 pm</b></p>
      </div>
    </div>
  </div>
</aside>