aside.clients.bg-dark-blue
  .container
    .row
      br
      .col-lg-10.col-lg-offset-1.text-center
        p.text-muted.my-italics.white YUDI is proud to partner with Wall Street Survivor for curriculum development and member resources.
    br
    .row
      .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3
        a(href='http://courses.wallstreetsurvivor.com/promo-page/?partner=yale', target='_blank')
          img.img-responsive.img-centered(alt='', src='assets/img/logos/wsS.png')
