aside.clients.bg-dark-blue
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        p.donate__head YUDI is proud to partner with Wall Street Survivor for curriculum development and member resources.
    .row
      .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3
        a(href='http://courses.wallstreetsurvivor.com/promo-page/?partner=yale', target='_blank')
          img.img-responsive(alt='wall street survivor', src='assets/img/logos/wsS.png')
