section.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h1.section-heading(style='letter-spacing: 3px') Curriculum
    .row
      .col-lg-4.col-lg-offset-4
        .curriculum_header
          p.curriculum_title Fall 2014
    br
    .row
      .col-sm-3.col-sm-offset-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/stocks.jpg')
          p.black-text(style='font-weight: bold') Introduction to Basic Concepts of Finance
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='lectures/lecture1.pdf', target='_blank') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='https://www.youtube.com/watch?v=53MnV_-vCUo', target='_blank') Video
      .col-sm-2
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/sprout.jpg')
          p.black-text(style='font-weight: bold') Portfolio Construction and Management
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='lectures/lecture2.pdf', target='_blank') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='https://www.youtube.com/watch?v=erB3G8aJepQ', target='_blank') Video
    .row
      .col-lg-4.col-lg-offset-4
        .curriculum_header
          p.curriculum_title Spring 2015
    br
    // SECOND ROW
    .row
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/wall_street.jpg')
          p.black-text(style='font-weight: bold') Developing Investment Strategy
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='lectures/lecture3.pdf') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='#') Video
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/balance.jpg')
          p.black-text(style='font-weight: bold')
            | Interpreting SEC Filings
            br
            br
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='lectures/lecture4.pdf') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='https://www.youtube.com/watch?v=VXoBGJw4T9k&feature=youtu.be') Video
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/cash.jpg')
          p.black-text(style='font-weight: bold') Fundamental vs. Technical Analysis
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='#') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='#') Video
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/managing.jpg')
          p.black-text(style='font-weight: bold')
            | Discounted Cash Flow
            br
            br
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='assets/img/labels/stocks.jpg') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='#') Video
    // THIRD ROW
    .row
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/techan.jpg')
          p.black-text(style='font-weight: bold') Deeper Understanding of Technical Analysis
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='#') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='#') Video
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/investing.jpg')
          p.black-text(style='font-weight: bold') Investing in Diversified Markets
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='#') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='#') Video
      .col-sm-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#trynin')
            img.img-responsive.faded(alt='', src='assets/img/labels/man_walking.jpg')
          p.black-text(style='font-weight: bold') Managing Money and Expectations
          .row
            .col-sm-4.col-sm-offset-1
              p
                a.btn.btn-primary(href='#') Slides
            .col-sm-2
            .col-sm-4
              p
                a.btn.btn-primary(href='#') Video
