//- TODO: Refactor and remove extra classes
section#donate.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h1.section-heading.team__head Donate
    br
    .row
      .col-md-4.col-sm-6
        .text-center
          div
            span.fa-stack.fa-4x
              i.fa.fa-square.fa-stack-2x.goodgreen
              i.fa.fa-bookmark.fa-stack-1x.fa-inverse
          div
            h4 Materials
            p.text-left Each member can request free investment education materials to learn more and explore investing at a deeper level.
      .col-md-4.col-sm-6
        .text-center
          div
            span.fa-stack.fa-4x
              i.fa.fa-square.fa-stack-2x.text-primary
              i.fa.fa-folder-open.fa-stack-1x.fa-inverse
          div
            h4.black-text Subscriptions
            p.black-text.text-left Members receive complimentary subscriptions to the Wall Street Journal and other online finance information sources.
      .col-md-4.col-sm-6
        .text-center
          div
            span.fa-stack.fa-4x
              i.fa.fa-square.fa-stack-2x.goodred
              i.fa.fa-suitcase.fa-stack-1x.fa-inverse
          div
            h4.black-text Opportunities
            p.black-text.text-left YUDI helps members understand more about career opportunities in finance from professionals in the industry.
    br
    br
    br
    .row
      .col-lg-12.text-center
        p(style='font-size: 24px') We greatly appreciate your donation! Thank you!
        p(style='font-size: 20px')
          em All donations go directly to sponsoring our education initiatives
    br
    .row
      .col-md-4.col-md-offset-4.text-center
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UDAKBA5NAE3GG', target='_blank')
          button.btn.btn-primary.btn-xl Donate Now
