section.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h1.section-heading(style='letter-spacing: 3px') Guest Lectures
    .row
      .col-lg-4.col-lg-offset-4
        .biggerborder
          p.guesttitle.text-center Spring 2015
    br
    .row
      .col-sm-2.col-sm-offset-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#olson')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/olson.jpg')
          h4.black-text(style='font-weight: bold') Rory Olson
          p.text-muted.black-text.small-text
            | CEO @ Wall Street Survivor
            br
            em Jan. 24
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#garcia')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/anthonyg.jpg')
          h4.black-text(style='font-weight: bold') Anthony Garcia
          p.text-muted.black-text.small-text
            | BDC @ Morgan Stanley, Merrill Lynch (past)
            br
            em Jan. 31
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#andrew')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/andrew.jpg')
          h4.black-text(style='font-weight: bold') Andrew Bhak
          p.text-muted.black-text.small-text
            | Managing Director @ Deutsche Bank
            br
            em Feb. 5th
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#spitzley')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/spitzley.png')
          h4.black-text(style='font-weight: bold') Ray Spitzley
          p.text-muted.black-text.small-text
            | Managing Director @ Morgan Stanley
            br
            em Feb. 19th, LC 102
    .row
      .col-sm-2.col-sm-offset-3
        .team-member
          a.portfolio-link(data-toggle='modal', href='#moore')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/moore.jpg')
          h4.black-text(style='font-weight: bold') Jeff Moore
          p.text-muted.black-text.small-text
            | Portfolio Manager @ Fidelity
            br
            em Mar. 5
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#zhang')
            img.img-responsive.faded.img-circle(alt='', src='assets/img/lectures/zhang.jpg')
          h4.black-text Frank Zhang
          p.text-muted.black-text.small-text
            | Securities Analysis @ YSOM
            br
            em Apr. 2
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#spiegel')
            img.img-responsive.faded.img-circle(alt='', src='assets/img/lectures/spiegel.jpg')
          h4.black-text Matthew Spiegel
          p.text-muted.black-text.small-text
            | Yale SOM
            br
            em Apr. 16
    .row
      .col-lg-4.col-lg-offset-4
        .biggerborder
          p.guesttitle.text-center Fall 2014
    br
    .row
      .col-sm-4
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#barberis')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/nickbar.jpg')
          h4.black-text Nicholas Barberis
          p.text-muted.black-text.small-text Professor @ YSOM
      .col-sm-2
        .team-member
          a.portfolio-link(data-toggle='modal', href='#zusi')
            img.img-responsive.img-circle(alt='', src='assets/img/lectures/zusi.jpg')
          h4.black-text(style='font-weight: bold') Keith Zusi
          p.text-muted.black-text.small-text S&T @ Goldman Sachs
