include ../helpers/lecture_help

section.bg-light-gray
  .container
    .row
      +pageHead('Guest Lectures')
    .row
      +semesterHead('Spring 2015')
    .row
      .col-sm-2
      +showLecture(lecturer01)
      +showLecture(lecturer02)
      +showLecture(lecturer03)
      +showLecture(lecturer04)
    .row
      .col-sm-3
      +showLecture(lecturer05)
      +showLecture(lecturer06)
      +showLecture(lecturer07)
    .row
      +semesterHead('Fall 2014')
    .row
      .col-sm-4
      +showLecture(lecturer08)
      +showLecture(lecturer09)
