
<section class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Membership Rules - 50% Attendance Minimum</h3>
        <p>
          You must be present at a minumum of one-half of each semester's offered lecture or speaker events to become a member. You must
          also compete in the YUDI competition to remain eligible. If you have any questions, please email yaleudi@gmail.com.
        </p>
      </div>
      <div class="col-lg-12">
        <h3 class="text-center">Attendance Tracking</h3>
        <p>Go to a <a href="./qr.html" style="color: #FF3732">QR Code Generator</a> and create a QR code with your <strong>
            first and last
            name</strong>. In order for your attendance to be counted you <em>must</em> have your QR code scanned at each YUDI event.</p>
        <div class="text-center"><a href="./qr.html" target="_blank">
            <button class="btn btn-primary btn-lg">QR Generator</button></a></div>
      </div>
    </div><br/><br/>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-heading">Members Fall 2014</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-left">
        <p style="letter-spacing: 0px">Ansh Bhagat<br/>        Dan Bozik<br/>        Warren Buhler<br/>        Misael Cabrera<br/>        William Caldwell<br/>        Austin Carter<br/>        Kah Wah Cheong<br/>        Alex Cooley<br/>        Marisa Cresham<br/>        Alex Croxford<br/>        Chandler Crusan<br/>        Matthew Czarnecki<br/>        Audrey DeVaughn<br/>        Aujer Ding<br/>        Blake Dixon<br/>        Carman Drake<br/>        Dominic Eggerman<br/>        Jose Emanuelli<br/></p>
      </div>
      <div class="col-md-2 text-left">
        <p style="letter-spacing: 0px">Giana Erb<br/>        Adam Erickson<br/>        Pablo Espinola<br/>        Eric Esposito<br/>        Will Van Fossen<br/>        Ian Garcia-Kennedy<br/>        Jake Goldstein<br/>        Steven Goulas<br/>        Joshua Ha<br/>        Ian Hall<br/>        Julien Ham-Ying<br/>        Hasan Hanif<br/>        Hope Hanley<br/>        Adam Harris<br/>        Walid Hassan<br/>        Colin Hemez<br/>        Alec Hoeschel<br/>        Jacob Hoops<br/></p>
      </div>
      <div class="col-md-2 text-left">
        <p style="letter-spacing: 0px">David Hopen<br/>        Christopher Keating<br/>        Brendan Kelleher<br/>        Christopher King<br/>        Cameron Kirdzik<br/>        Casey Klingler<br/>        Karina Kovalcik<br/>        Mario Kranjac<br/>        Jennifer Laine<br/>        Brent Lawson<br/>        Avery Lewis<br/>        Zachary Lovett<br/>        James Ma<br/>        Emily Markham<br/>        Tess McEvoy<br/>        Patrick McHugh<br/>        Spencer McManes<br/>        Andrew Megerian<br/></p>
      </div>
      <div class="col-md-2 text-left">
        <p style="letter-spacing: 0px">Andre Monteiro<br/>        Victoria Moore<br/>        Anthony Morales<br/>        Anna Elise Morello<br/>        Jack Mulrow<br/>        Shawn Nee<br/>        Phan Nguyen<br/>        Frederic Nicholas<br/>        Lukas Noritzsch<br/>        Eddie Ortiz-Nieves<br/>        Jennifer Peng<br/>        Luke Persichetti<br/>        Mimi Pham<br/>        Samuel Rapowitz<br/>        Patrick Reed<br/>        Christopher Reese<br/>        Courtney Reilly<br/></p>
      </div>
      <div class="col-md-2 text-left">
        <p style="letter-spacing: 0px">Christian Rice<br/>        Janis Risbergs<br/>        Daniel Rivera<br/>        Raymond Robinson<br/>        Dustin Ross<br/>        Hale Ross<br/>        Trent Ruffolo<br/>        Lauren Sapienza<br/>        Jayshree Sarathy<br/>        Eric Scott<br/>        Edward She<br/>        Albert Shin<br/>        Daniel Smith<br/>        Noah Steinberg<br/>        Paul Styslinger<br/>        William Sun<br/>        Erin Sungelo<br/></p>
      </div>
      <div class="col-md-2 text-left">
        <p style="letter-spacing: 0px">Devansh Tandon<br/>        Andrew Thavychith<br/>        Justin Thomas<br/>        Luke Thomas<br/>        Teddy Thum<br/>        Martin Tolentino<br/>        Harrison Tracy<br/>        Victoria Virtue<br/>        Sonya Vohra<br/>        Mitchel Wagner<br/>        Allen Wang<br/>        Samuel Wang<br/>        Sarah Williams<br/>        P. Wongwaiwate<br/>        Ashley Wu<br/>        Howie Xu<br/>        Justin Young<br/></p>
      </div>
    </div>
  </div>
</section>