
<section class="rankingsbg">
  <div class="container">
    <div class="col-lg-12 text-center white-background">
      <h1>The Competition has Begun!</h1>
      <p><em>This round of the competition will last until May of 2015. Access the current team rankings below</em></p><br/><a href="http://www.wallstreetsurvivor.com/league/YUDICompetition" target="_blank">
        <button class="btn btn-primary btn-lg">
          View
          Rankings
        </button></a>
    </div>
    <div class="col-lg-12 spacer"></div>
  </div>
</section>