section.rankingsbg
  .container
    .col-lg-12.text-center.white-background
      h1 The Competition has Begun!
      p
        em
          | This round of the competition will last until May of 2015. Access the current team rankings below:
      br
      a(href='http://www.wallstreetsurvivor.com/league/YUDICompetition', target='_blank')
        button.btn.btn-primary.btn-lg
          | View Rankings
    .col-lg-12.spacer