section.rankings__bg
  //- TODO: Do we have copyright for all these pictures?
  .container
    .col-lg-12.rankings__mast
      h1 The Competition has Begun!
      p.rankings__caption This round of the competition will last until May of 2015. Access the current team rankings below:
      a(href='http://www.wallstreetsurvivor.com/league/YUDICompetition', target='_blank', alt='rankings results page')
        button.btn.btn-primary.btn-lg.btn__rank View Rankings
    .col-lg-12.spacer