// -------------------------------------
//   Inbox- Styles to categorize
// -------------------------------------

// TODO: Appears to not even be used, but leaving in just in case I missed it somewhere in the navbar jungle
.logo {
    max-width: 350px;
    height: auto;
    margin-top: 230px;
}

// TODO: single magic number class is wasteful
.spacer {
    margin: 28%;
}

// TODO: describe more clearly
.biggerborder {
    border: 7px solid $color_madison_approx;
    margin-bottom: 9px;
}

// Only on Rankings page
.rankingsbg {
    background-attachment: scroll;
    background-image: $url_2;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

// lazy target for the networking page
.competition b {
    color: $color_cerulean_blue_approx;
}
