
.logo {
    max-width: 350px;
    height: auto;
    margin-top: 230px;
}
.spacer {
    margin: 28%;
}

.biggerborder {
    border: 7px solid $color_madison_approx;
    margin-bottom: 9px;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

.down-arrow {
    text-align: center;
}
#down-arrow {
    color: $white;
    &:hover {
        color: $color_madison_approx;
    }
}
.down-arrow-margin {
    margin-bottom: 8%;
}

// Only on Rankings page
.rankingsbg {
    background-attachment: scroll;
    background-image: $url_2;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

.open .dropdown-toggle {
    &.btn-primary {
        @extend %extend_2;
        background-image: none;
    }
    &.btn-xl {
        @extend %extend_3;
        background-image: none;
    }
}

.dropdown .open {
    background: $black;
}

// lazy target for the networking page
.competition b {
    color: $color_cerulean_blue_approx;
}
