// This is a partial for living at the bottom of the page
footer
    .container
        .row
          .col-md-4
            span.copyright &copy;  2015 Yale Undergraduate Diversified Investments
          |                 
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(target='_blank', href='https://www.facebook.com/yaleundergraduatediversifiedinvestments')
                  i.fa.fa-facebook
              |                         
              li
                a(target='_blank', href='https://www.linkedin.com/pub/yale-undergraduate-diversified-investments/aa/a92/28b')
                  i.fa.fa-linkedin
              |                         
              li
                a(target='_blank', href='https://twitter.com/yaleudi')
                  i.fa.fa-twitter
.container-full.wmark
  p
    | built with
    a.makemark(href='http://www.cameronyick.us', target='_blank') intenspiration