// This is a partial for living at the bottom of the page
footer
    .container
        .row
          .col-md-4
            span.copyright Copyright &copy; Yale Undergraduate Diversified Investments 2015
          |                 
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(target='_blank', href='https://www.facebook.com/yaleundergraduatediversifiedinvestments')
                  i.fa.fa-facebook
              |                         
              li
                a(target='_blank', href='https://www.linkedin.com/pub/yale-undergraduate-diversified-investments/aa/a92/28b')
                  i.fa.fa-linkedin
              |                         
              li
                a(target='_blank', href='https://twitter.com/yaleudi')
                  i.fa.fa-twitter
