nav.subMenu.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='./index.html')
        img.navlogo(src='assets/img/logos/yudi.png')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='./lectures.html') Lectures
        li
          a(href='./curriculum.html') Curriculum
        li
          a(href='./rankings.html') Competition
        li
          a(href='./membership.html') Members