nav.subMenu.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(data-target='#bs-example-navbar-collapse-1', data-toggle='collapse', type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='./index.html')
        img.navlogo(src='assets/img/logos/yudi.png')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Resources 
            span.caret
          ul.dropdown-menu.mydropdown
            li
              a#blue(href='./lectures.html') Guest Lectures
            li
              a#blue(href='./curriculum.html') Curriculum
            li
              a#blue(href='./rankings.html') Competition
            li
              a#blue(href='./membership.html') Membership
        li
          a.page-scroll(href='./index.html') Home