
mixin buildColumns(people)
    .col-md-2.text-left
        ul.roster__list(style='letter-spacing: 0px')
          each person in people
              li=person

// split array of names into groups of 
- var chunkArray = function(people,chunkSize) {
    while(people.length) {
        console.log(people.splice(0,chunksize));
    }

}