extends templates/wrapper
block vars 
    include data/curriculumData

block title
    | YUDI - Curriculum 

block content
    include templates/layouts/nav_basic
    
    include templates/partials/curriculum_items
    
    include templates/layouts/footer
    
block scripts
    script( src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src="assets/js/bootstrap.min.js" )