extends templates/wrapper

block title
    | YUDI - Homes

block content
    include templates/layouts/nav
    include templates/partials/header
    include templates/partials/calendar

    include templates/partials/contact
    include templates/layouts/footer
    include templates/partials/bios
    
