extends templates/wrapper

block title
    | YUDI - Home 

block content
    include templates/partials/nav
    include templates/partials/header

    include templates/partials/footer
    include templates/partials/bios

    //- #section01.pane.hello
    //-     .wrapper
    //-         include data/hello
    //-         a( class="next wow bounceInUp", href="#section02", data-wow-delay="3s" ) NEX

    //- #section06.pane.contact
    //-     .wrapper
    //-         a( class="prev",href="#section05" ) PREV
    //-         include data/contact

    
