extends templates/wrapper

block title
    | YUDI - Home 

block content
    include templates/partials/nav
    include templates/partials/header

    include templates/partials/contact
    include templates/partials/footer
    include templates/partials/bios
    
