block vars
    - var lesson = function(name, slides, videos, pic){this.name = name; this.slides=slides, this.video = video, this.pic=pic; return this; }
    - var lesson01 = new lesson("Introduction to the Basic Concepts of Finance", 'lecture1.pdf', "https://www.youtube.com/watch?v=53MnV_-vCUo", 'stocks.jpg')
    - var lesson02 = new lesson("Portfolio Construction and Management", 'lecture2.pdf', "https://www.youtube.com/watch?v=erB3G8aJepQ", 'sprout.jpg')
    - var lesson03 = new lesson("Developing Investment Strategy", 'lecture3.pdf', "none", 'wall_street.jpg')
    - var lesson04 = new lesson('Interpreting SEC Filings: Intro', 'lecture4.pdf', "https://www.youtube.com/watch?v=53MnV_-vCUo", 'balance.jpg')
    - var lesson05 = new lesson("Fundamental vs Technical Analysis", 'lecture5.pdf', "tbd", 'cash.jpg')
    - var lesson06 = new lesson("Discounted Cash Flow: Intro", 'lecture6.pdf', "TBD", 'managing.jpg')
    - var lesson07 = new lesson("Deeper Understanding of Technical Analysis", 'lecture7.pdf', "TBD", 'techan.jpg')
    - var lesson08 = new lesson("Investing in Diversified Markets", 'lecture8.pdf', "TBD", 'investing.jpg')
    - var lesson09 = new lesson("Managing Money and Expectations", 'lecture9.pdf', "TBD", 'man_walking.jpg')
