block vars
    - var lecturer= function(modalID, name, subtitle, pic){this.id = modalID; this.name = name; this.subtitle=subtitle; this.pic = pic; this.story = "test story"; return this}
    - var lecturer01 = new lecturer("lecturer01", "Keith Barberis", "Founder & President", "steve.jpg")
    - var lecturer02 = new lecturer('lecturer02', 'Justin Thomas', 'Founder & President', 'justin.jpg')
    - var lecturer03 = new lecturer('lecturer03', 'Cameron Kirdzik', 'Founder & President', 'cam.jpg')
    - var lecturer04 = new lecturer('lecturer04', 'Alec Hoeschel', 'Founder & President', 'alec.jpg')
    - var lecturer05 = new lecturer('lecturer05', 'William Sun', 'Chief of Technology', 'will.jpg')
    - var lecturer06 = new lecturer('lecturer06', 'Paul Styslinger', 'Chief of Web Design', 'paul.jpg')
