block vars
    - var lecturer= function(modalID, name, subtitle, pic, date){this.id = modalID; this.name = name; this.subtitle=subtitle; this.pic = pic; return this}
    - var lecturer01 = new lecturer('lecturer01', 'Rory Olson', "CEO @ Wall Street Survivor", 'olson.jpg', "Jan. 24")
    - var lecturer02 = new lecturer('lecturer02', 'Anthony Garcia', 'BDC @ Morgan Stanley, Merrill Lynch (past)', 'anthonyg.jpg', "Jan. 31")
    - var lecturer03 = new lecturer('lecturer03', 'Andrew Bhak', 'Managing Director @ Deutsche Bank', 'andrew.jpg', "Feb. 5th")
    - var lecturer04 = new lecturer('lecturer04', 'Ray Spitzley', 'Managing Director @ Fidelity', 'spitzley.png', "Mar. 5")
    - var lecturer05 = new lecturer('lecturer05', 'Jeff Moore', 'Porfolio Manager @ Fidelity', 'moore.jpg', "Jan. 15")
    - var lecturer06 = new lecturer('lecturer06', 'Frank Zhang', 'Securities Analysis @ YSOM', 'zhang.jpg', "Apr. 2")
    - var lecturer07 = new lecturer('lecturer07', 'Matthew Spiegel', 'Yale SOM', 'spiegel.jpg', "TBD")
    - var lecturer08 = new lecturer("lecturer08", "Keith Barberis", "Professor @ YSOM", "nickbar.jpg", "TBD")
    - var lecturer09 = new lecturer('lecturer09', 'Keith Zusi', "S&T @ Goldman Sachs", 'zusi.jpg', "TBD")
